.bannertext{
  background: rgb(255,255,255) !important;
background: linear-gradient(180deg, rgba(83, 83, 83, 0.548) 0%, rgba(54, 54, 54, 0.993) 100%) !important;

}
.bannertext1{
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(128, 128, 128, 0) 0%, rgba(97, 97, 97, 0.637) 100%);

}
body{
  background-color: #272829;
}
.target1{
  background-color: #272829;
}
.target2{
  background-color: #D8D9DA;
    
}
.target3{
  
background-color: white;
}

.target3 img{
  margin: auto;
}
.t1 img{

  height: 100px;
  width: 300px;
  
}
.t2 p{
  margin-top: 1rem;
}
